body{
    background-color: gainsboro;
    font-family: "patrick hand",Arial, Helvetica, sans-serif;
    font-size: 20px;
}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(65, 65, 65);
    color: white;
}
nav ul{
    margin: 0 0 0 -5px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover{
    background-color: gray;
}
#user{
    top:0;
    right: 0;
    position: fixed;
    display: inline-block;
}
section{
    width: 60%;
    margin: auto;
    margin-top: 60px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px black solid;
    min-height: 89vh;
    height: fit-content;
}
section h1{
    font-size: 40px;
    border-bottom: 1px solid black;
    margin: 30px 0;
    /* text-transform: capitalize; */
}
section article p{
    margin: 0;
}
