body {
    /* background-image: linear-gradient(#222831,#262C36); */
    font-family: "patrick hand", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #EEEEEE;
    margin: 0;
    transition: 0.5s;
    /* background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: linear-gradient(-135deg,#191e3c, #5b4f63);
    position: relative;
}
a{
    text-decoration: none;
}
section {
    display: inline-block;
    vertical-align: top;
}

section article {
    background-color: #393E46;
    border: 1px black solid;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 0.5s;
}

h1 {
    color: #b4b1ff;
}

h2 {
    color: #a09ddc;
}
#light {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    background-image: linear-gradient(0deg,#B1B2FF,#EEF1FF) ;
    z-index: -1;
}