@media (max-width: 800px) {
    .main {
        width: calc(100% - 20px);
        margin: 0 10px;
    }

    .main .item .contain-poster {
        width: 30%;
        min-width: 30%;
    }

    #phim-hot .item .contain-poster {
        width: 15% !important;
        max-width: 15% !important;
        min-width: 15% !important;
    }

    .side {
        width: calc(100% - 20px);
        margin: 0 10px;
    }

    h1 {
        font-size: 7vw !important;
    }

    h2 {
        font-size: 5vw !important;
    }

    #phim-hot li {
        font-size: 3vw !important;
    }
}

@media (max-width: 440px) {
    nav ul li a {
        padding: 1vw 3vw !important;
    }

    body {
        font-size: 4vw;
    }

    #change-to-light {
        width: 8vw;
    }
}