
/* side start */
.side {
    width: calc(25% - 1px);
}

.side h1 {
    font-size: 25px;
    border-bottom: 1px solid white;
    margin: 10px;
}

.side form {
    position: relative;
}

/* search */
#search {
    border-radius: 20px;
    border: 0;
    top: 0px;
    left: 0px;
    margin: 10px;
    font-size: 20px;
    width: calc(100% - 30px);
    transition: 0.5s;
    background-color: #505761;
    outline: none;
    font-family: inherit;
    border: 1px solid black;
}

#search:focus {
    background-color: #EEEEEE;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#find {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 5px 0px;
    /* display: none; */
    transition: 0.5s;
    opacity: 0;
    border: none;
    top: 15px;
    right: 17px;
    border-left: 1px solid gray;
    box-sizing: content-box;
}

#search:focus+#find {
    opacity: 1;
}

/* phim hot */
#phim-hot .item {
    min-height: 130px;
    height: fit-content;
    margin-top: 20px;
    transition: 0.5s;
}

#phim-hot .item:hover {
    background-color: #444a54;
}

#phim-hot .item a {
    display: flex;
    color: #EEEEEE;
    text-decoration: none;
}

#phim-hot .item .contain-poster {
    height: 130px;
    width: 85px;
    display: inline;
}

#phim-hot .item .contain-poster .poster {
    height: 130px;
    width: 85px;
}

#phim-hot .item .content {
    vertical-align: top;
    font-size: 15px;
    display: inline-block;
    margin-left: 4px;
}

#phim-hot .item .content .title {
    color: #a09ddc;
    font-size: 18px;
    display: inline;
    word-wrap: break-word;
    line-height: 0;
}

#phim-hot .item .content .info {
    /* display: inline; */
    padding-left: 20px;
    margin: 0;
}

#phim-hot .item .content .info li {
    /* display: inline; */
    vertical-align: top;
}

#phim-hot .item .content .info .status-good {
    /* display: inline; */
    color: rgb(0, 215, 0);
}

#phim-hot .item .content .info .status-bad {
    /* display: inline; */
    color: red;
}

/* side end */