body{
    background-color: gainsboro;
    font-family: "patrick hand",Arial, Helvetica, sans-serif;
    font-size: 20px;
    min-width: 950px;
}
/* nav start */
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(65, 65, 65);
    color: white;
    min-width: 1000px;
    
    z-index: 100;
}
nav ul{
    margin: 0 0 0 -5px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
nav ul li{
    display: inline-block;
    position: relative;
}
nav ul li a{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.5s;
}
nav a:hover{
    background-color: gray;
}
#user{
    top:0;
    right: 0;
    position: absolute;
    display: inline-block;
}
.behind-nav{
    height: 50px;
}
/* nav end */
/* section  */
section{
    display: inline-block;
    vertical-align: top;
}
section article{
    background-color: white;
    border: 1px black solid;
    border-radius: 8px;
    display: inline-block;
    padding:  10px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
/* main start*/
.main{
    width: 55%;
    margin-left: 10%;
    min-height: 89vh;
    height: fit-content;
}
.main h1{
    font-size: 40px;
    border-bottom: 1px solid black;
    margin: 30px 0;
    /* text-transform: capitalize; */
}
.main .item{
    height: 230px;
    transition: 0.5s;
    /* border-radius: 8px; */
    position: relative;
    margin-top: 10px;
}
.main .item:hover{
    background-color: gainsboro;
    /* cursor: pointer; */
}
.main .item .contain-poster{
    height: 100%;
    width: 150px;
    display: inline-block;
}
.main .item .contain-poster img{
    height: 100%;
    width: 100%;
}
.main .item .content{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    width: calc(100% - 180px);
}
.main .item .content .title{
    margin: 0;
    font-size: 27px;
}
.main .item .content .info{
    padding-left: 20px;
}
.main .item .trailer{
    background-color: red;
    color: white;
    border: none;
    font: 20px "patrick hand" ;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    transition: 0.5s;
}
.main .item .trailer:hover{
    box-sizing: border-box;
    background-color: orange;
    cursor: pointer;
}
/* main end*/

/* side start */
.side{
    width: calc(25% - 1px);
}
.side h1{
    font-size: 25px;
    border-bottom: 1px solid black;
    margin: 10px;
}
.side form{
    position: relative;
}
/* search */
#search{
    border: 1px solid gray;
    border-radius: 20px;
    top:0px;
    left: 0px;
    margin: 10px;
    font-size: 20px;
    width: calc(100% - 30px);
    transition: 0.5s;
    background-color: gainsboro;
    outline: none;
    font-family: inherit;
}
#search:focus{
    background-color: white;
    /* border-radius: 0; */
    border: 1px solid gray;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
#find{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(images/search-icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 5px 0px;
    /* display: none; */
    transition: 0.5s;
    opacity: 0;
    border: none;
    top:15px;
    right: 17px;
    border-left: 1px solid gray ;
    box-sizing: content-box;
}
#search:focus+#find{
    opacity: 1;
}
/* phim hot */
#phim-hot .item {
    height: 130px;
    margin-top: 20px;
    transition: 0.5s;
}
#phim-hot .item:hover{
    background-color: gainsboro;
}
#phim-hot .item a{
    color: black;
    text-decoration: none;
    height: 130px;
}
#phim-hot .item .contain-poster{
    height: 130px;
    width: 80px;
    display: inline;
}
#phim-hot .item .contain-poster .poster{
    height: 130px;
    width: 85px;
}
#phim-hot .item .content{
    vertical-align: top;
    font-size: 15px;
    display: inline-block;
    width: calc(100% - 90px);
    max-width: calc(100% - 90px);
    overflow: hidden;
}
#phim-hot .item .content .title{
    font-size: 20px;
    display: inline;
    word-wrap: break-word;
    line-height: 0;
}
#phim-hot .item .content .info{
    /* display: inline; */
    padding-left: 20px;
    margin: 0;
}
#phim-hot .item .content .info li{
    /* display: inline; */
    vertical-align: top;
}
#phim-hot .item .content .info .status-good{
    /* display: inline; */
    color: rgb(0, 215, 0);
}
#phim-hot .item .content .info .status-bad{
    /* display: inline; */
    color: red;
}
/* side end */
