#light {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    background-image: linear-gradient(45deg,#0073d8 ,#ABD9FF) ;
    z-index: -1;
}
.light-body{
    color: black !important;
}
.light-background{
    opacity: 1 !important;
}