header{
    display: flex;
    background: #222831;
    font-size: 2.5vw;
    color: white;
}
header #logo{
    width: 2.5vw;
    margin: 0 1vw;
}
footer{
    width: 100%;
    display: flex;
    background-color: #414141;
    border-top: 1px solid black;
    color: white;
}
footer h2{
    margin: 10px;
    font-size: 30px;
}
footer ul{
    font-size: 18px;
    margin: 10px;
    margin-left: 8vw;
    padding: 0;
}
footer p{
    margin-left: 8vw;
    font-size: 18px;
}
footer :nth-child(n){
    flex: 1 1 0;
}
footer .contact #media .contain-contact{
    display: flex;
    width: fit-content;
    align-items: center;
}
footer .contact #media img{
    width: 2vw;
    margin: 5px;
}